@import "../../../styles/main";

.navlink {
    padding: 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $secondary-font;
}

.active {
    text-decoration: underline;
    font-weight: 600;
}
