@import "../../../styles/main";

.nav {
    height: 60px;
    width: calc(100% - 4rem);
    margin: 10px auto;
    border-radius: 20px;
    background-color: $white;
    color: $black;
    filter: drop-shadow(4px 4px 0px $black);
    border: 2px solid $black;

    ul {
        list-style-type: none;
        display: flex;
        @include center-content;
        outline: 1px solid black;
        height: 60px;
    }

}