@import "../../../styles/main";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint(screen-md) {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .formContainer {
        @include flex-column;
        @include center-content;
        gap: 30px;
        margin-bottom: 30px;
    }

    .listContainer {
        @include flex-column;
        @include center-content;
        position: relative;
        padding: 40px 0px;

        h2 {
            margin-bottom: 30px;
            @include media-breakpoint(screen-md) {
                position: absolute;
                top: 0;
            }

        }
        .list {
            list-style-type: none;
            width: 50%;
            @include flex-column;
            gap: 10px;

            .listItem {
                @include list-item;
            }
            .listItemBought {
                @include list-item;
                text-decoration: line-through;     
            }
        }

    }

}