@import "../../../styles/main";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint(screen-md) {
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
    }

    .formContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .listContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 40px 0px;
        /*margin-top: 60px;
        @include media-breakpoint(screen-md) {
            margin-top: 0;
        }*/

        h2 {
            margin-bottom: 30px;
            @include media-breakpoint(screen-md) {
                position: absolute;
                top: 0;
            }

        }
        .list {
            list-style-type: none;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .listItem {
                font-weight: 600;
                border-radius: 20px;
                border: 1px solid $black;
                background-color: $white;
                padding: 10px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                font-family: $secondary-font;
            }
            .listItemBought {
                font-weight: 600;
                border-radius: 20px;
                border: 1px solid $black;
                background-color: $white;
                padding: 10px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                font-family: $secondary-font;
                text-decoration: line-through;

                
            }
        }

    }

}