@import "../../../styles/main";
.formSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
    //width: calc(100% - 100px);
    //margin: 10px auto;
    outline: 1px solid black;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

    .statusText {
        background-color: $white;
        padding: 10px;
        font-family: monospace, sans-serif;
        font-weight: 600;
        border: 2px solid $black;
        width: calc(100% - 2rem);
        display: flex;
        justify-content: center;

        p {
            width: calc(100% - 8rem);
        }

    }


    .feedForm {
        outline: 1px solid black;
        height: 320px;
        width: 240px;
        gap: 20px;

        .textContainer {
            display: flex;
            justify-content: center;
            padding: 20px 0;
            outline: 1px solid black;
            p {
                font-weight: 500;
            }
        }

        .header {
            font-weight: 500;
            padding: 0px 20px;
        }

        .inputs {
            display: flex;
            padding: 0px 20px;
            gap: 20px;
            outline: 1px solid black;

            input {
                margin-right: 4px;
            }
        }

        .buttonContainer {
            display: flex;
            justify-content: center;
            margin-top: 70px;
        }
    }
}