@import "../styles/main";
.main {
  @include flex-column;
  align-items: center;
  padding: 1rem 6rem;
  margin: 50px auto;
  @include media-breakpoint(screen-lg) {
    margin: 20px auto;
  }

  .blocksection {
    @include flex-column;
    gap: 20px;
    @include center-content;

    .heading {
      font-size: clamp(5rem, -0.9302rem + 27.907vw, 20rem);
      line-height: 1;
    }
  }
}