@import "../styles/main";
.main {
  @include flex-column;
  align-items: center;
  padding: 1rem 6rem;

  .blocksection {
    @include flex-column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .heading {
      font-size: clamp(5rem, -0.9302rem + 27.907vw, 20rem);
      line-height: 1;
    }
  }
}