.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    //flex-direction: column;
    //justify-content: space-between;

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}