@import "../../styles/main";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 100px;
    @include media-breakpoint(screen-md) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .center {
        display: flex;
        @include center-content;
    }
}