.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 0;

    .feedButton {
        background-color: yellow;
        border-radius: 4rem;
        padding: 16px;
        width: 200px;
        text-transform: uppercase;
        border: 2px solid black;
        font-weight: 600;
        cursor: pointer;
    }
}
