@import "./breakpoints";
@import "./base";

@mixin media-breakpoint($size) {
    @if $size == 'screen-xs' {
        @media only screen and (min-width: #{$screen-xs}) {
            @content;
        }
    } @else if $size == 'screen-sm' {
        @media only screen and (min-width: #{screen-sm}) {
            @content;
        }
    } @else if $size == 'screen-md' {
        @media only screen and (min-width: #{$screen-md}) {
            @content;
        }
    } @else if $size == 'screen-lg' {
        @media only screen and (min-width: #{$screen-lg}) {
            @content;
        }
    } @else if $size == 'screen-xl' {
        @media only screen and (min-width: #{$screen-lg}) {
            @content;
        }
    }
}

@mixin rounded-card {
    background-color: $white;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 0px $black);
    border: 1px solid $black;
}

@mixin list-item {
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid $black;
    background-color: $white;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: $secondary-font;
}