@import "../../../styles/main";

.status {
    height: 300px;
    width: 300px;
    padding: 50px 10px;

    .imageContainer {
        position: relative;
        padding: 20px;
        @include rounded-card;

        .imageBubble {
            position: absolute;
            top: 20px;
            right: 0;
            width: 140px;
        }
    }

}