.status {
    height: 300px;
    width: 300px;
    outline: 1px solid black;

    .imageContainer {
        position: relative;

        .imageBubble {
            position: absolute;
            top: 0;
            right: 0;
            width: 140px;
        }
    }

}